.main-home {
    margin-top: 6%;
    font-family: 'News Cycle', sans-serif;
}

.title {
    font-size: 700%;
}

.projecttop {
    margin-top: 7%;
}

.lil-about {
    background-color: white;

}

.icbcontainer {
    position: relative;
    width: 50%;
    font-family: 'News Cycle', sans-serif;
}

.icbimg {
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

  .icbcontainer:hover .icbimg {
    opacity: 0.3;
  }
