.title-work {
    font-size: 500%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.icbcontainer {
    position: relative;
    font-family: 'News Cycle', sans-serif;
}

.icbimg {
    opacity: 1;
    width: 70%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

  .icbcontainer:hover .icbimg {
    opacity: 0.3;
  }